// -----------------------------------------
	// Layout Breakpoints
// -----------------------------------------
$maxWidth: 1280;


// -----------------------------------------
	// Font Sizes
// -----------------------------------------
$regularSize: 12;


// -----------------------------------------
	// Font Families
// -----------------------------------------
$helvetica: Helvetica, Arial, sans-serif;



$base-space-unit:       1em !default;
$base-radius-unit:      3px !default;


// -----------------------------------------
    // Colors
// -----------------------------------------
// $white: #fffefe;
// $black: #202020;
// $grey: #2c3e50;
// $darkgrey: #95a5a6;
// $dark: #2c3e50;


$white: #ffffff;
$black: #202020;
$grey: #a9a4a0;
$darkgrey: #95a5a6;
$dark: #2c3e50;
$lightGrey:#cbcbcb;
$bgHover:#E9F8FF;

// $bgInspi: #e8dcdb;
// $bgCart: #f6bfb1;
// $bgInsta: #fedcd1;
// $bgPress: #dcfcf3;

$bgHome: #fdf7e9;
$bgAbout: #f9d9ce;
$bgInspi: #f2d8c7;
$bgPrint: #daedfb;
$bgPress: #d7b7b8;
$bgCollab:#fcb6a0;

// $bgAbout: #cfe6d6;

$red:#da202e;


// $bgColor: rgba(239, 253, 255, 1);
$bgColor:#fff;
$bgColorA: rgba(239, 253, 255, .3);

$loader: #4C537C;
// $darkblue: #321B57;


$gold: #f5e2d7;
$lblue: #eaf0fe;
$lgreen: #f1feea;
$lrose: #ebbfcb;


$purple: #d3d0eb;
$notice: #3498db;
$success: #1abc9c;
$alert: #e74c3c;

$border-color: #ecf0f1;
$border-color--dark: #bdc3c7;
