<footer class="footer">
    <h3>Lots offerts par</h3>
    <img src="/images/footer-bern.png" alt="Bern">
    <img src="/images/footer-valais.png" alt="Valais">
    <img src="/images/footer-vaud.png" alt="Vaud">
    <img src="/images/footer-fribourg.png" alt="Fribourg"><br>
    <img src="/images/footer-tgv-lyria.png" alt="TGV Lyria">
    <img src="/images/footer-suisse.png" alt="Suisse">
    <img src="/images/footer-europcar.png" alt="Europcar">
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.0/jquery.validate.min.js"></script>
<script>
    $(document).ready(function () {
        $('#formMerci').validate({
            rules: {
                nom: {
                    required: true
                },
                prenom: {
                    required: true
                },
                email: {
                    required: true,
                    email: true
                }
            },
            messages: {
                nom: {
                    required: "Champ requis"
                },
                prenom: {
                    required: "Champ requis"
                },
                email: {
                    required: "Champ requis",
                    email: "L'adresse email doit être valide."
                }
            }
        });

    });
</script>
</body>
</html>