<footer class="footer">
    <h3>Lots offerts par</h3>    
    <a href="http://www.madeinbern.com/fr/"><img src="/images/footer-bern.png" alt="Bern"></a>
    <a href="http://www.valais.ch/fr/home"><img src="/images/footer-valais.png" alt="Valais"></a>
    <a href="http://www.region-du-leman.ch"><img src="/images/footer-vaud.png" alt="Vaud"></a>
    <a href="http://www.fribourgregion.ch/fr/"><img src="/images/footer-fribourg.png" alt="Fribourg"><br></a>
    <a href="http://www.tgv-lyria.com/fr"><img src="/images/footer-tgv-lyria.png" alt="TGV Lyria"></a>
    <a href="http://www.swisstravelsystem.com/fr/home.html"><img src="/images/footer-suisse.png" alt="Suisse"></a>
    <a href="https://www.europcar.ch/fr"><img src="/images/footer-europcar.png" alt="Europcar"></a>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.0/jquery.validate.min.js"></script>
<script>
    $(document).ready(function () {
        $('#formMerci').validate({
            rules: {
                nom: {
                    required: true
                },
                prenom: {
                    required: true
                },
                email: {
                    required: true,
                    email: true
                },
                codepostal: {
                    required: true
                }
            },
            messages: {
                nom: {
                    required: "Champ requis"
                },
                prenom: {
                    required: "Champ requis"
                },
                email: {
                    required: "Champ requis",
                    email: "L'adresse email doit être valide."
                },
                codepostal: {
                    required: "Champ requis"
                }
            }
        });

    });
</script>
</body>
</html>