<footer class="footer">
    <h3>Lots offerts par</h3>
    <img src="/images/tgv-lyria.png" alt="TGV Lyria">
    <img src="/images/tgv-lyria.png" alt="TGV Lyria">
    <img src="/images/tgv-lyria.png" alt="TGV Lyria">
    <img src="/images/tgv-lyria.png" alt="TGV Lyria">
    <img src="/images/tgv-lyria.png" alt="TGV Lyria">
    <img src="/images/tgv-lyria.png" alt="TGV Lyria">
    <img src="/images/tgv-lyria.png" alt="TGV Lyria">
</footer>
</body>
</html>