<% include header %>

<div class="container">
  <p class="topLink"><a href="http://www.suisse.com">Suisse.com</a></p>
  <div class="top-image-c">
    <p class="hashtag">#<span>amoureux</span>dela<span>suisse</span></p>
    <h1><span>Jeux-concours</span> Le grand tour de Suisse</h1>
    <img src="/images/suisse-logo.jpg" alt="Suisse" class="suisse-logo" />
  </div>
<div class="promo">
  4 séjours avec <br>transports & <br>3x2 Swiss Travel <br>Pass à gagner!
</div>
<div class="main-content">
  <p class="merci">
    Merci de compléter les champs ci-dessous afin de confirmer votre <br>
    participation à notre tirage au sort d'ici au 29 mai 2016 à minuit!
  </p>
  <form action="/merci" method="post" id="formMerci">
  <input type="hidden" name="id" value="<%= id %>">
    <div class="fl">
      <label for="nom"><span>Nom *</span>
        <input type="text" name="nom" id="nom">
      </label>
      <label for="prenom"><span>Prénom *</span>
        <input type="text" name="prenom" id="prenom">
      </label>
      <label for="email"><span>Email *</span>
        <input type="email" name="email" id="email" value="<%= email %>">
      </label>
    </div>
    <div class="fr">
      <label for="telephone"><span>Téléphone</span>
        <input type="tel" name="telephone" id="telephone">
      </label>
      <label for="codepostal"><span>Code postal *</span>
        <input type="number" name="codepostal" id="codepostal">
      </label>
    </div>

    <div class="check-l clearfix">
      <p>* Champs requis</p>
      <label for="newsletter">
        <input type="checkbox" name="newsletter" id="newsletter" value="1">
        Je souhaite recevoir des informations de la part de Suisse Tourisme et de ses partenaires
      </label>
      <label for="reglement">
        <input type="checkbox" name="reglement" id="reglement" checked>
        J'accepte <a href="/reglement">réglement du jeu</a>
      </label>
    </div>
    <div class="submit-c">
      <input type="submit" value="VALIDER MA PARTICIPATION" class="submit">
    </div>

  </form>
  <div class="a-gagner">
    <h3>à gagner</h3>
    <span class="wrap"><img src="/images/leman.jpg" alt="image"><span><span>></span> 1 séjour dans la Région du Léman</span></span>
    <span class="wrap"><img src="/images/gstaad.jpg" alt="image"><span><span>></span> 1 séjour à Gstaad Saanenland</span></span>
    <span class="wrap"><img src="/images/gruyere.jpg" alt="image"><span><span>></span> 1 séjour en Gruyère</span></span>
    <span class="wrap"><img src="/images/valais.jpg" alt="image"><span><span>></span> 1 séjour en Valais</span></span>
    <span class="wrap"><img src="/images/travel-pass-bottom.png" alt="image"><span><span>></span> 3x2 Swiss Travel Pass <br>de 8 jours en 1ère classe</span></span>
  </div>
  </div>
</div>
<% include footer %>
