<% include header %>

<div class="container">
  <p class="topLink"><a href="http://www.myswitzerland.com">MySwitzerland.com</a></p>
  <div class="top-image-c">
    <p class="hashtag">#<span>amoureux</span>dela<span>suisse</span></p>
    <h1><span>Jeux-concours</span> Le grand tour de Suisse</h1>
    <img src="/images/suisse-logo.jpg" alt="Suisse" class="suisse-logo" />
  </div>
<div class="promo">
  4 séjours & <br>
  3X2 swiss travel <br>
  pass à gagner!
</div>
<img src="/images/travel-pass.png" alt="Swiss Travel Pass - 2 Personnes" class="travel-pass" />
<div class="main-content">
  <p class="merci">
    Merci de compléter les champs ci-dessous afin de confirmer votre <br>
    participation à notre tirage au sort d'ici au 29 mai 2016 à minuit!
  </p>
  <form action="/merci" method="post">
  <input type="hidden" name="id" value="<%= id %>">
    <div class="fl">
      <label for="nom"><span>Nom</span>
        <input type="text" name="nom" id="nom">
      </label>
      <label for="prenom"><span>Prénome</span>
        <input type="text" name="prenom" id="prenom">
      </label>
      <label for="email"><span>Email</span>
        <input type="email" name="email" id="email" value="<%= email %>">
      </label>
    </div>
    <div class="fr">
      <label for="telephone"><span>Téléphone</span>
        <input type="tel" name="telephone" id="telephone">
      </label>
      <label for="codepostal"><span>Code postal</span>
        <input type="number" name="codepostal" id="codepostal">
      </label>
    </div>

    <div class="check-l clearfix">
      <label for="newsletter">
        <input type="checkbox" name="newsletter" id="newsletter" value="1">
        Je souhaite recevoir des informations de la part de Suisse Tourisme et de ses partenaires
      </label>
      <label for="reglement">
        <input type="checkbox" name="reglement" id="reglement" checked>
        J'accepte <a href="/reglement">réglement du jeu</a>
      </label>
    </div>
    <div class="submit-c">
      <input type="submit" value="VALIDER MA PARTICIPATION" class="submit">
    </div>

  </form>
  <div class="a-gagner">
    <h3>à gagner</h3>
    <a href="#"><img src="/images/leman.jpg" alt="image"><span><span>></span> 1 séjour dans la Région du Léman</span></a>
    <a href="#"><img src="/images/berne.jpg" alt="image"><span><span>></span> 1 séjour dans le canton de Berne</span></a>
    <a href="#"><img src="/images/gruyere.jpg" alt="image"><span><span>></span> 1 séjour en Gruyère</span></a>
    <a href="#"><img src="/images/valais.jpg" alt="image"><span><span>></span> 1 séjour en Valais</span></a>
    <a href="#"><img src="/images/travel-pass-bottom.png" alt="image"><span><span>></span> 3x2 Swiss Travel Pass <br>de 8 jours en 1ère classe</span></a>
  </div>
  </div>
</div>
<% include footer %>
