<% include header %>

<div class="container">
  <p class="topLink"><a href="http://www.suisse.com">Suisse.com</a></p>
  <div class="top-image-c">
    <p class="hashtag">#<span>amoureux</span>dela<span>suisse</span></p>
    <h1><span>Jeux-concours</span> Le grand tour de Suisse</h1>
    <img src="/images/suisse-logo.jpg" alt="Suisse" class="suisse-logo" />
  </div>
<div class="promo">
  4 séjours avec <br>transports & <br>3x2 Swiss Travel <br>Pass à gagner!
</div>
<div class="main-content reglement">
<p>Règlement du Jeu-concours « LE GRAND TOUR DE SUISSE »,<br>
  organisé par Suisse Tourisme du 23 au 27 mai 2016 <br>
  </p>
<h3>Article 1: ORGANISATION<br>
  </h3>
<p>La Société Suisse Tourisme dont le siège se situe à 11 bis rue Scribe, 75009 Paris, (ci-après « Suisse Tourisme ou la Société organisatrice ») organise du 23 mai 2016 au 27 mai 206 le jeu gratuit et sans obligation d’achat intitulé « Le Grand Tour de Suisse» ci-après « le Jeu ».</p>
<h3>Article 2: DURÉE DU JEU</h3>
<p>La participation au JEU est possible du 23 mai 2016 au 27 mai 2016. <br>
  Ne seront pas prises en considération les participations adressées après les délais prévus ci-dessus ou celles contraires aux dispositions du présent règlement.<br>
  La Société organisatrice se réserve le droit d'écourter, de proroger, de reporter, de modifier ou d'annuler le JEU si les circonstances l'exigent. En tout état de cause, sa responsabilité ne saurait être engagée et aucune indemnité ne saurait lui être réclamée à ce titre. Dans de telles circonstances, la Société organisatrice mettra en place les moyens techniques pour en informer les Participants.</p>
<h3>Article 3: CONDITIONS GENERALES DE PARTICIPATION </h3>
<p>La participation au JEU implique l’acceptation expresse et sans réserve du présent règlement en toutes ses stipulations, ainsi que des lois et règlements en vigueur sur le territoire français et notamment des dispositions applicables aux jeux et loteries en vigueur en France.<br>
  Le fait de cocher la case « J’accepte le règlement du jeu» dans le formulaire d’inscription vaut acceptation du présent règlement. <br>
  La participation à ce JEU est sans obligation d’achat et ouverte à toute personne physique majeure, jouissant de la capacité juridique, et résidant en France Métropolitaine, Corse comprise. Une seule participation par personne sera retenue par personne (même prénom, nom et adresse mail) et par foyer. Les participations ne seront validées que si elles respectent strictement les conditions du Règlement. <br>
  Ne peuvent pas participer les personnes répondant aux conditions visées ci-dessous : </p>
<ul>
  <li>Toute personne (mandataires sociaux et membres du personnel) impliquée directement ou indirectement dans l’organisation, la réalisation, la mise en œuvre, la promotion et l’animation du JEU.</li>
  <li>Tous les membres des familles (conjoints, concubins ascendants, descendants directs) de toutes les personnes précédemment citées.</li>
</ul>
<p>La Société Organisatrice se réserve le droit de demander à tout participant de justifier des éventuelles conditions de participation indiquées ci-dessus<br>
  Toute personne ne remplissant pas ces conditions ou refusant de les justifier sera exclue du Jeu-concours et ne pourra, en aucun cas, bénéficier du lot.<br>
  </p>
<h4>Article 4: ACCES AU JEU</h4>
<p>Ce Jeu gratuit et sans obligation d’achat, propose aux personnes physiques du 23 mai 2016 au 27 mai 2016 à 19h00 sur les trois totems digitaux situés sur le Parvis de la Défense (ci-après “le Totem”). Pour accéder au Jeu, il est donc nécessaire d’être présent physiquement sur le Parvis de la Défense de 10h00 à 19h00 du 23 au 27 mai 2016 et de s’inscrire à l’aide de l’un des trois totems digitaux. </p>
<h3>Article 5: PROCEDURE DE PARTICIPATION AU JEU</h3>
<p>Pour jouer, les Participants doivent se rendre à l’un des trois totems entre les dates indiquées à l’article 4. <br>
  Sur les premières pages du Totem, les Participants devront répondre à six questions puis confirmer ses réponses en cliquant sur le bouton « Valider». Les Participants peuvent, s’ils le souhaitent, recevoir un indice en cliquant sur le bouton « Chercher un indice ».<br>
  Une fois leurs réponses validées, les Participants sont invités à renseigner leur civilité, prénom, nom,  adresse email, code postal,  leur souhait de recevoir ou non par courrier électronique des informations de Suisse Tourisme et de ses partenaires.</p>
<p>Une fois leurs coordonnées personnelles et le règlement du jeu validés, les participants deviennent éligibles au tirage au sort, pour tenter de gagner un des 7 (7) lots ou l’un des  six cent six (606) gains immédiats mis quotidiennement en jeu. </p>
<h3>Article 6 : DESIGNATION DES GAGNANTS ET  DOTATIONS </h3>
<h4>6.1 Désignation des gagnants </h4>
<p>La désignation des gagnants des 7 lots se fera par tirage au sort parmi les participations le 31 mai 2016. <br>
  Sept (7) gagnants seront désignés pour remporter les sept (7) lots correspondant aux quatre (4) séjours, à raison d’un (1) chacun et aux trois (3) lots de 2 Swiss Travel Pass de 8 jours en 1ère classe. Un gagnant ne peut pas remporter plusieurs dotations. Un seul lot pourra être remporté par foyer (même nom, même adresse). <br>
  Six cent six (606) gagnants seront également désignés pour remporter les six cent six (606) gains immédiats correspondants aux six cent (600) guides du Routard « Le Grand Tour de Suisse », à raison d’un (1) chacun, aux dix (10) Swiss Travel Pass de 8 jours en 1ère classe, , à raison de deux (2) chacun et à un (1) Jungfrau Travel Pass pour 3 jours y compris excursion sur le Jungfraujoch pour deux personnes. Un gagnant ne peut pas remporter plusieurs dotations. Un seul lot pourra être remporté par foyer (même nom, même adresse).<br>
  Les gagnants seront désignés comme tels après vérification de la conformité de leur participation au présent Règlement. Dans le cas où leur participation ne serait pas conforme, les gagnants perdraient le bénéfice de leur gain, sans que Suisse Tourisme ait à les en informer. Les gagnants autorisent toutes vérifications concernant leur identité, leur âge, leurs coordonnées postales ou la loyauté et la sincérité de leur participation et devront fournir à Suisse Tourisme, à sa demande, toute pièce justificative de son identité et de son adresse postale. Toute fausse déclaration, indication d'identité ou d'adresse fausse entraîne l'élimination immédiate du participant et le cas échéant le remboursement des lots déjà envoyés.<br>
  Une liste d'attente de gagnants potentiels sera également établie pour remplacer, le cas échéant, toute désignation d'un gagnant invalidée en application du présent Règlement ou en cas de désistement du gagnant ou de son absence de réponse au contact établi par Suisse Tourisme pour le prévenir du gain. Il ne sera adressé aucun email ou courrier, même en réponse, aux participants qui n’auront pas gagné.</p>
<h4>6.2 Dotations</h4>
<p>Le jeu est doté des sept (7) lots suivants par tirage au sort : </p>
<ul>
  <li>1 Séjour en Valais<br>
    4 nuits pour 2 personnes à l’hôtel 3 étoiles Walliserhof à Loèche-les-Bains/Canton du Valais, sous réserve de disponibilités, y compris petits déjeuners buffet, deux (2) A/R pour les remontées mécaniques de Torrent et de la Gemmi, deux (2) entrées de 3 heures pour les bains thermaux de Walliser Alpentherme &amp; Spa Leukerbad <br>
    ou de Leukerbad Therme, deux (2) Leukerbad Card Plus ainsi que deux (2) billets A/R en TGV Lyria en 1ère classe au départ d’une gare desservie par Lyria et une voiture de location avec Europcar durant 5 jours (kilométrage illimité). Validité jusqu’au 22 décembre 2017 (hors jours fériés suivants: Noël, Nouvel an, Pâques et Fêtes National du 1er août). Valeur maximale de 1'670  TTC.</li>
  <li>1 Séjour à Saanenmöser dans la région de Gstaad Saanenland<br>
    1 nuit pour 2 personnes en chambre double dans une Junior Suite au Golfhotel Les Hauts de Gstaad &amp; Spa, sous réserve de disponibilités, y compris demi-pension ainsi que deux (2) billets A/R en TGV Lyria en 1ère classe au départ d’une gare desservie par Lyria et une voiture de location avec Europcar durant 3 jours (kilométrage illimité, essence à votre charge).<br>
    Validité : jusqu’au 21 décembre 2017. Valeur maximale de 1'350 € TTC.</li>
  <li>1 Séjour en Gruyère:<br>
    3 nuits pour 2 personnes en chambre double dans un hôtel de votre choix de la catégorie 4 dans la Région de La Gruyère/Canton de Fribourg, sous réserve de disponibilités, y compris petits déjeuners gruérien, 1 boisson de bienvenue par personne, 1 passeport La Gruyère (visites touristiques de la région et transports publics sur le réseau Frimobil) et 1 soirée fondue pour 2 personnes ainsi que deux (2) billets A/R en TGV Lyria en 1ère classe au départ d’une gare desservie par Lyria et une voiture de location avec Europcar durant 5 jours (kilométrage illimité, essence à votre charge). Validité jusqu’au 31 décembre 2017. Valeur maximale de 1'260 € TTC.</li>
  <li>1 Séjour dans la Région du Léman<br>
    2 nuits pour 2 personnes en chambre double dans un hôtel 4 étoiles de votre choix de la Région du Léman/Canton de Vaud, sous réserve de disponibilités, y compris petits déjeuners et taxes d’hébergement inclus ainsi que deux (2) billets A/R en TGV Lyria en 1ère classe au départ d’une gare desservie par Lyria jusqu’à Lausanne et une voiture de location avec Europcar durant 3 jours (kilométrage illimité, essence à votre charge). Validité du lot : 31 août 2017. Valeur maximale de 1'170 € TTC.<br>
  </li>
</ul>
<p>Du 5e au 7e lots</p>
<ul>
  <li>Deux (2) Swiss Travel Pass de 8 jours en 1ère classe comprenant la circulation illimitée en train, en car et en bateau, la libre circulation sur la plupart des voyages panoramiques hors frais de réservation de place(s), l’accès gratuit aux transports urbains de 75 villes, l’entrée gratuite dans plus de 490 musées, 50% de réduction sur la plupart des remontées mécaniques. Validité jusqu’au 31 décembre 2017.Valeur maximale de 1'060  TTC par lot de 2 Swiss Travel Pass. Valeur totale de 3'180  TTC. <br>
    </li>
</ul>
<p>Le jeu est doté de six-cent-six (606) gains immédiats offerts du 23 au 27 mai 2016 : </p>
<ul>
  <li>Cinq (5) x deux (2) Swiss Travel Pass de 4 jours en 1ère classe offerts à raison de un (1) x deux (2) billets par jour<br>
    Le Swiss Travel Pass comprent la circulation illimitée en train, en car et en bateau, la libre circulation sur la plupart des voyages panoramiques hors frais de réservation de place(s), l’accès gratuit aux transports urbains de 75 villes, l’entrée gratuite dans plus de 490 musées, 50% de réduction sur la plupart des remontées mécaniques. Validité jusqu’au 31 décembre 2017.<br>
    Valeur maximale de 737  TTC par lot de 2 Swiss Travel Pass. Valeur totale de 3'685  TTC</li>
  <li>Un (1) x Jungfrau Travel Pass de 3 jours y compris excursion sur le Jungfraujoch – Top of Europe pour deux personnes<br>
  Le Pass voyage Jungfrau comprend la circulation illimitée pendant trois jours consécutifs sur le réseau de train de la Région de la Jungfrau ainsi qu’une sélection de remontées mécaniques et un trajet sur le Jungfraujoch – Top of Europe pour deux personnes. La liste des trajets se trouve sur : www.jungfrau.ch/fr/sommer/tourisme/lieux-a-visiter/jungfraujoch-top-of-europe/offres/. Validité jusqu’à la fin de la saison d’été 2017. Alternativement le voucher peut être utilisé pour un forfait de ski de 3 jours y compris excursion sur le Jungfraujoch – Top of Europe pour deux personnes. Validité jusqu’à la fin de la saison d’hiver 2016/2017. Valeur maximale de 457   TTC. </li>
  <li>Six cent (600) guides du Routard « Le Grand Tour de Suisse » offerts à raison de 120 exemplaires par jour<br>
    Le guide du Routard vous propose une édition spéciale pour tout connaître sur le Grand Tour de Suisse et ses 44 sites incontournables. Tout au long du parcours, Le Routard vous indique des bonnes adresses pour dormir et manger. Avec également un plan détachable du circuit, leurs coups de cœur et des anecdotes. Valeur unitaire de 14,9  TTC. Valeur totale de 8'940  TTC. </li>
</ul>
<h3>ARTICLE 7 : ATTRIBUTION ET REMISE DES LOTS PAR TIRAGE AU SORT</h3>
<p>Les gagnants seront contactés par courrier électronique et/ou par téléphone par Suisse Tourisme dans un délai de sept (7) jours à compter du tirage au sort afin de valider leur gain. S'ils l'acceptent dans un délai de 15 jours à compter du premier contact par mail, ce gain sera mis à leur disposition dans les conditions prévues à l'article 7.<br>
  Après information personnelle des gagnants, leur identité sera rendue publique au moyen d'un email envoyé à tous les participants, à l'adresse email indiquée par eux, et qui fournira la liste des gagnants effectifs. Suisse Tourisme pourra publier on et offline le prénom, l'initiale du nom et la ville de résidence ainsi que le lot remporté par les gagnants, sans que cela ne leur confère d'autres droits que la remise de ces lots.<br>
  La Société Organisatrice ne saurait être tenue pour responsable en cas de non délivrance de l’email annonçant le gain par suite d’une erreur dans l’adresse email indiquée par le participant lors de son inscription au JEU, en cas de défaillance du fournisseur d’accès, en cas de défaillance du réseau interne ou pour tout autre cas indépendant de sa volonté.<br>
  Une fois acceptés par les gagnants, les lots seront mis à leur disposition sous la forme de vouchers correspondant au lot remporté et adressés par voie postale (courrier recommandé avec accusé de réception) dans un délai de quinze (15) jours à compter du premier contact par mail. La date de remise du prix correspondra à la date d’envoi du courrier recommandé, le cachet de la poste faisant foi. Suisse Tourisme ne pourra être tenus responsable du défaut de réception d’un lot du fait du renseignement par le participant de coordonnées erronées ou invalides. <br>
  La réservation des séjours s’effectue selon les modalités inscrites sur le voucher. Chaque Gagnant pourra inviter la personne de son choix et devra indiquer l’identité de cette dernière à la Société organisatrice pour établir les billets nominatifs dans des conditions qui lui seront notifiées au moment de la remise de son lot. Le voucher est valable uniquement pour le lot gagné. Aucun échange contre un autre lot ne peut être demandé. Les lots gagnés ne sont, en toute hypothèse, ni cessibles ni échangeables ni remboursables. En particulier, aucun échange contre la valeur faciale du voucher ou indemnité sera dû en cas d’annulation du lot réservé, de perte ou de vol du voucher, ou de non utilisation durant la période de validité. Les lots offerts ne peuvent donner lieu, de la part des gagnants, à aucune contestation d’aucune sort, pour quelque cause que ce soit, y compris en cas de force majeure empêchant les gagnants concernés de bénéficier de leur lot. <br>
  Les éventuelles taxes, frais de post et pré acheminement, les prestations et activités non incluses et toutes prestations supplémentaires non incluses dans les séjours sont à la charge des gagnants. La réservation effective des séjours est soumise aux disponibilités le jour de la demande. Suisse Tourisme ne pourra garantir le départ en période de vacances scolaires, tous lots confondus. <br>
  La Société organisatrice se réserve le droit de remplacer les lots annoncés par des lots de valeur équivalente et dans la mesure du possible de caractéristiques proches, si des circonstances indépendantes de sa volonté l’y contraignaient, sans engager sa responsabilité de ce fait ; et sans qu’aucune contrepartie ni en valeur, ni en espèces ne puisse être réclamée.<br>
Les Gagnants autorisent toutes vérifications concernant leur identité.</p>
<h3>ARTICLE 8 : ATTRIBUTION ET REMISE DES GAINS IMMEDIATS</h3>
<p>Les gagnants seront avertis par un message s’affichant sur le Totem du Jeu avec le descriptif du lot offert. Un bon sera également imprimé automatiquement. Ce bon doit être échanger le jour même auprès du personnel à l’accueil de l’événement sur le Parvis de la Défense jusqu’à 19 heures. Les gagnants d’un guide du Routard recevront un exemplaire et les gagnants des Swiss Travel Pass recevront un voucher. Passé le délai de 19 heures, les lots non retirés seront remis en jeu le lendemain et ne peuvent être réclamés ultérieurement. <br>
  La commande des Swiss Travel Pass s’effectue selon les modalités inscrites sur le voucher. Le voucher est valable uniquement pour le lot gagné. Aucun échange contre un autre lot ne peut être demandé. Les lots gagnés ne sont, en toute hypothèse, ni cessibles ni échangeables ni remboursables. En particulier, aucun échange contre la valeur faciale du voucher ou indemnité sera dû en cas d’annulation du lot réservé, de perte ou de vol du voucher, ou de non utilisation durant la période de validité. Les lots offerts ne peuvent donner lieu, de la part des gagnants, à aucune contestation d’aucune sort, pour quelque cause que ce soit, y compris en cas de force majeure empêchant les gagnants concernés de bénéficier de leur lot. <br>
  Les éventuelles taxes, frais de post et pré acheminement, les prestations et activités non incluses et toutes prestations supplémentaires non incluses dans les Swiss Travel Pass sont à la charge des gagnants. <br>
  La Société organisatrice se réserve le droit de remplacer les lots annoncés par des lots de valeur équivalente et dans la mesure du possible de caractéristiques proches, si des circonstances indépendantes de sa volonté l’y contraignaient, sans engager sa responsabilité de ce fait ; et sans qu’aucune contrepartie ni en valeur, ni en espèces ne puisse être réclamée.<br>
Les Gagnants autorisent toutes vérifications concernant leur identité.</p>
<h3>Article 9: RESPONSABILITES</h3>
<p>La Société organisatrice ne serait être tenue pour responsable de toute difficulté intervenue lors de l’envoi des dotations par courrier. <br>
  D’une manière générale, la Société organisatrice décline toute responsabilité pour tous les incidents et accidents qui pourraient arriver aux gagnants pendant la jouissance des dotations.<br>
  La Société organisatrice se dégage de toute responsabilité relative à une éventuelle insatisfaction des gagnants concernant leurs lots.La responsabilité de la Société organisatrice ne saurait être engagée, d'une façon générale, en cas de force majeure ou cas fortuit indépendant de sa volonté.<br>
La Société organisatrice fera ses meilleurs efforts pour permettre un accès au jeu, sans pour autant être tenue à aucune obligation d'y parvenir. La Société organisatrice pourra, à tout moment, notamment pour des raisons techniques, de mise à jour, de maintenance interrompre l'accès au JEU. La Société organisatrice ne sera en aucun cas responsable de ces interruptions et de leurs conséquences. Aucune indemnité ne pourra être réclamée à ce titre.</p>
<h3>Article 10: EXPLOITATION DES DONNEES PERSONNELLES, LOI INFORMATIQUE ET LIBERTES</h3>
<p>Les gagnants autorisent, comme condition de validité de leur participation au jeu, Suisse Tourisme et ses partenaires à utiliser leur prénom, l'initiale de leur nom et leur ville de résidence, dans tous leurs messages publicitaires et dans toutes leurs manifestations promotionnelles relatives à ce jeu, sans que cette utilisation puisse ouvrir d'autres droits que le lot gagné.<br>
  Les images utilisées sur le Totem, les objets représentés, les marques et dénominations commerciales mentionnées, les éléments graphiques, informatiques et les bases de données composant le Totem, sont la propriété exclusive de leurs titulaires respectifs et ne sauraient être extraits, reproduits ou utilisés en dehors du cadre de la participation au Jeu, sans l'autorisation écrite de ces derniers, sous peine de poursuites civiles et/ou pénales.<br>
  Toute ressemblance de personnages ou d'éléments du Jeu avec d'autres personnages fictifs ou d'autres éléments déjà existants, serait purement fortuite et ne pourrait conduire à engager la responsabilité de Suisse Tourisme ou de ses prestataires. <br>
  Conformément aux dispositions de la loi n° 78-17 du 6 janvier 1978, dite « Loi Informatique et Libertés », relative à l'informatique, aux fichiers et aux libertés, les Participants bénéficient d’un droit d’accès, de rectification, d’opposition et de radiation des données personnelles la concernant auprès de la Société organisatrice. Ces droits pourront être exercés sur simple demande écrite en contactant la Société organisatrice par courrier à l’adresse : Suisse Tourisme Paris, 11bis rue Scribe, FR-75009 Paris <br>
Conformément à la réglementation en vigueur, les informations collectées dans le cadre du présent jeu sont destinées exclusivement à la Société organisatrice et ses partenaires, et elles ne seront ni vendues, ni cédées à des tiers, de quelque manière que ce soit. Néanmoins les personnes qui exerceront leur droit de suppression des données les concernant avant la fin du jeu seront réputées avoir renoncé à leur participation.</p>
<h3>Article 11: DEPOT DU REGLEMENT DU JEU</h3>
<p>Le règlement est déposé auprès de SCP GAULIN et LACAS, Huissiers de Justice associées, 8 boulevard de Magenta à PARIS 10èmearrondissement. Le règlement peut être modifié à tout moment sous la forme d’un avenant par la Société organisatrice, dans le respect des conditions énoncées, et publié notamment par annonce en ligne sur le site.<br>
  Le règlement du jeu sera disponible sur le Totem, du 23 au 27 mai 2016 et peut être obtenu gratuitement sur simple demande à un des représentants de Suisse Tourisme présent sur le site de la Défense. </p>
<h3>Article 12: LOI APPLICABLE – JURIDICTIONS COMPETENTES</h3>
<p>La loi applicable au présent règlement est la loi française.<br>
  Toute difficulté pratique d’application ou d’interprétation du présent règlement sera résolue  par la Société Organisatrice, en premier lieu par une tentative de règlement à l’amiable.<br>
  A défaut d’accord, le litige sera soumis au Tribunal de Commerce compétent. <br>
Aucune contestation ne sera plus recevable 2 (deux) mois après la clôture. </p>
  </div>
</div>
<% include footer %>
