<% include header %>

<div class="container">
  <p class="topLink"><a href="http://www.myswitzerland.com">MySwitzerland.com</a></p>
  <div class="top-image-c">
    <p class="hashtag">#<span>amoureux</span>dela<span>suisse</span></p>
    <h1><span>Jeux-concours</span> Le grand tour de Suisse</h1>
    <img src="/images/suisse-logo.jpg" alt="Suisse" class="suisse-logo" />
  </div>
<div class="promo">
  4 séjours avec <br>transports & <br>3x2 Swiss Travel <br>Pass à gagner!
</div>
<div class="main-content">
  <p class="merci">Merci <%= user.prenom %> pour votre participation.</p>

  <div class="a-gagner">
    <h3>à gagner</h3>
    <a href="#"><img src="/images/leman.jpg" alt="image"><span><span>></span> 1 séjour dans la Région du Léman</span></a>
    <a href="#"><img src="/images/berne.jpg" alt="image"><span><span>></span> 1 séjour dans le canton de Berne</span></a>
    <a href="#"><img src="/images/gruyere.jpg" alt="image"><span><span>></span> 1 séjour en Gruyère</span></a>
    <a href="#"><img src="/images/valais.jpg" alt="image"><span><span>></span> 1 séjour en Valais</span></a>
    <a href="#"><img src="/images/travel-pass-bottom.png" alt="image"><span><span>></span> 3x2 Swiss Travel Pass <br>de 8 jours en 1ère classe</span></a>
  </div>
  </div>
</div>
<% include footer %>
