<% include header %>

<div class="container">
  <p class="topLink"><a href="http://suisse.com">suisse.com</a></p>
  <div class="top-image-c">
    <p class="hashtag">#<span>amoureux</span>dela<span>suisse</span></p>
    <h1><span>Jeux-concours</span> Le grand tour de Suisse</h1>
    <img src="/images/suisse-logo.jpg" alt="Suisse" class="suisse-logo" />
  </div>
<div class="promo">
  4 séjours avec <br>
  tgv et voiture <br>
  de location & <br>
  3X2 swiss travel <br>
  pass à gagner!
</div>
<div class="main-content">
  <h2>Merci <%= user.prenom %> </h2>

  <div class="a-gagner">
    <h3>à gagner</h3>
    <a href="#"><img src="/images/leman.jpg" alt="image"><span><span>></span> 1 séjour dans la Région de Léman</span></a>
    <a href="#"><img src="/images/berne.jpg" alt="image"><span><span>></span> 1 séjour dans la Région de Léman</span></a>
    <a href="#"><img src="/images/gruyere.jpg" alt="image"><span><span>></span> 1 séjour dans la Région de Léman</span></a>
    <a href="#"><img src="/images/leman.jpg" alt="image"><span><span>></span> 1 séjour dans la Région de Léman</span></a>
    <a href="#"><img src="/images/leman.jpg" alt="image"><span><span>></span> 1 séjour dans la Région de Léman</span></a>
  </div>
  </div>
</div>
<% include footer %>
