<% include header %>
<%if (winner) {%> <img src="/images/valid.png" alt="" style="max-width:100%;"> <%}%>
<%if (!winner) {%> <img src="/images/notvalid.png" alt="" style="max-width:100%;"> <%}%>
</body>
</html>
