.topLink{
    a{
        text-transform: capitalize;
        font-family: $sansserifBold;
        font-size: 1.063em;
    }
}
.top-image-c{
    background: #41738a url('/images/bg-sky.jpg') no-repeat left top;
    position: relative;
    padding: 70px 70px 140px;
    min-height: 390px;
    .suisse-logo{
        position: absolute;
        right: 0;
        top:-20px;
    }
    .hashtag{
        color: $white;
        text-transform: uppercase;
        font-size: 1.45em;
        margin-top: 0;
        span{
            font-family: $sansserifBold;
        }
    }
    h1{
        font-size: 3em;
        line-height: 1.43em;
        text-align: left;
        font-weight: bold;
        span{
            display: block;
            font-family: $sansserif;
        }
    }
}
.promo{
    color: $white;
    background-color: red;
    text-transform: uppercase;
    border: 3px solid $white;
    width: 190px;
    height: 190px;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    font-family: $sansserifBold;
    border-radius: 50%;
    padding: 45px 0;
    position: absolute;
    right: 70px;
    top:260px;
    -webkit-box-shadow: -5px 5px 10px 0px rgba(102,102,102,1);
    -moz-box-shadow: -5px 5px 10px 0px rgba(102,102,102,1);
    box-shadow: -5px 5px 10px 0px rgba(102,102,102,1);
}
.travel-pass{
    position: absolute;
    right: 15px;
    top:360px;
}
.merci{
    color: #000;
    font-size: 25px;
    margin: 20px 0;
    line-height: 30px;
}
form{
    label{
        width: 414px;
        font-size: 16px;
        display: block;
        color: #000;
        a{
            color: #000;
            text-decoration: underline;
        }
        span{
            padding: 15px 10px 10px;
            display: inline-block;
        }
        input:not([type=checkbox]){
            background-color: #f9f9f9;
            line-height: 50px;
            width: 100%;
            border: 0;
            
        }
        input[type=checkbox]{
            width: 20px;
            height: 20px;
            margin-right: 10px;
            border: 0;
        }
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }
    .fr{
        float:right;
    }
    .fl{
        float:left;
    }
    .check-l{
        clear:both;
        label{
            margin: 10px 0;
            width: 100%;
            font-size: 14px;
            vertical-align: top;
        }
    }
    .submit-c{
        text-align: center;
        .submit{
            background-color: red;
            color: $white;
            font-family: $sansserifBold;
            padding: 10px 20px;
            font-size: 20px;
        }   
    }
}
footer{
    text-align: center;
    h3{
        color: #000;;
        font-family: $sansserif;
        font-size: 16px;
    }
    img{
        margin-left: 50px;
        margin-bottom: 30px;
        &:first{
            margin-left: 0
        }
    }
}
.a-gagner{
    margin-top: 50px;
    h3{
        color: red;
        text-transform: uppercase;
        font-family: $sansserif;
        font-size: 2.1em;
    }
    a{
        display: inline-block;
        width: 185px;
        vertical-align: top;
        &>span{
            display: block;
            color:#000;
            margin-top:10px;
            font-size: 14px;
            span{
                color:red;
            }
        }
    }
}